/* -----------------------------------------------
 * angular-lightbox
 * -----------------------------------------------
 */

div.angular-lightbox-overlay {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  align-items: center;
  justify-content: center;
}
span.angular-lightbox-inner {
  position: relative;
  min-width: 10em;
  min-height: 10em;
}
span.angular-lightbox-inner > img {
  vertical-align: bottom;
  max-height: 90vh;
  max-width: 90vw;
}
span.angular-lightbox-inner > a {
  font-family: sans-serif;
  font-weight: bold;
  display: inline-block;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
  outline: 0;
  position: absolute;
  color: #ccc;
}
span.angular-lightbox-inner > a:hover {
  color: white;
}
span.angular-lightbox-inner > a.previous,
span.angular-lightbox-inner > a.next {
  font-size: 60px;
  width: 100px;
  top: 50%;
  margin-top: -1em; /* center vertically */
}
span.angular-lightbox-inner > a.previous {
  left: 0;
  margin-left: -100px;
}
span.angular-lightbox-inner > a.next {
  right: 0;
  margin-right: -100px;
}
span.angular-lightbox-inner > a.close {
  font-size: 40px;
  top: -80px;
  right: 0;
}
div.angular-lightbox-overlay.single-image a.previous,
div.angular-lightbox-overlay.single-image a.next {
  display: none;
}
